* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-body {
  display: flex;
}


.right {
  width: 45vw;
  height: 80vh;
}

.left {
  width: 55vw;
  height: 80vh;
  background: url("images/left.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}
.left h1 {
  color: #fff;

  font-family: "Helvetica";
  font-size: 150px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  letter-spacing: -10px;
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .left h1 {
    font-size: 80px;

    letter-spacing: -5px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .left h1 {
    font-size: 100px;
    letter-spacing: -7px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .left h1 {
    font-size: 130px;
    letter-spacing: -7px;
  }
}
@media only screen and (min-width: 1281px) {
  .left h1 {
    font-size: 160px;
    letter-spacing: -7px;
  }
}

.right {
  padding: 100px 70px;
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .right {
    padding: 50px 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .right {
    padding: 75px 35px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .right {
    padding: 100px 60px;
  }
}
@media only screen and (min-width: 1281px) {
  .right {
    padding: 100px 60px;
  }
}

.right figure {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .blossom-logo {
    width: 40px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .blossom-logo {
    width: 40px;
  }
}
.right figure figcaption {
  font-family: Gotham;
  font-size: 30px;
  font-weight: 600;
}

@media only screen and (min-width: 601px) and (max-width: 768px) {


  .right figure figcaption {
    font-size: 28px;
  }

}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .right figure figcaption {
    font-size: 35px;
  }
}

.direct-login {
  margin-top: 25px;
  color: #c4c4c4;
  font-family: Helvetica;
}
@media only screen and (min-width: 601px) and (max-width: 768px) {

  .direct-login {
    margin-top: 10px;
    font-size: 13px;
  }


}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .direct-login {
    margin-top: 15px;
    font-size: 15px;
  }
}

.login-btns {
  margin: 15px 0px;
  display: flex;
  gap: 2%;
}
@media only screen and (min-width: 601px) and (max-width: 768px) {


  .login-btns {
    margin: 7px 0px;
    gap: 2%;
  }


}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .login-btns {
    margin: 10px 0px;
  }
}

.google,
.facebook {
  background-color: #f1f1f1;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  color: #c4c4c4;
  font-family: Helvetica;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
@media only screen and (min-width: 601px) and (max-width: 768px) {


  .google,
  .facebook {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    font-weight: 700;
    padding: 10px;
    font-size: 13px;
  }

}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .google,
  .facebook {
    padding: 15px;
    font-size: 15px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {

  .google-svg {
    width: 14px;
  }

}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .google-svg {
    width: 14px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {

  .facebook-svg {
    width: 10px;
  }

}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .facebook-svg {
    width: 10px;
  }
}

.tab-btn {
  margin: 15px 0px 10px 0px;
  display: flex;
  gap: 2%;
}

@media only screen and (min-width: 601px) and (max-width: 768px) {

  .tab-btn {
    margin: 10px 0px 5px 0px;
    display: flex;
    gap: 2%;
  }


}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .tab-btn {
    margin: 10px 0px 5px 0px;
    display: flex;
    gap: 2%;
  }
}

.login {
  width: max-content;
  padding: 5px 20px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  background-color: #f1f1f1;
  color: #000;
}
@media only screen and (min-width: 601px) and (max-width: 768px) {

  .login {
    padding: 5px 20px;
    height: 38px;

    font-size: 14px;
  }

}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .login {
    padding: 10px 20px;
    height: 40px;
    font-size: 16px;
  }
}

.signup {
  color: #c4c4c4;
  width: max-content;
  padding: 5px 20px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
}
@media only screen and (min-width: 601px) and (max-width: 768px) {


  .signup {
    padding: 5px 20px;
    height: 38px;
    font-size: 14px;
  }

}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .signup {
    padding: 10px 20px;
    height: 40px;
    font-size: 16px;
  }
}

.email-input {
  width: 100%;
  height: 40px;
  border: none;
  background: #f1f1f1;
  padding-left: 25px;
  font-size: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-family: Helvetica;
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .email-input {
    padding-left: 20px;
    font-size: 12px;
  }

}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .email-input {
    padding-left: 20px;
    font-size: 14px;
  }
}

.email-input::placeholder {
  color: #c4c4c4;
}

.password-input {
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 0;
  width: 100%;
  height: 40px;
  border: none;
  background: #f1f1f1;
  padding-left: 25px;
  font-size: 15px;
  font-family: Helvetica;
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .password-input {
    padding-left: 20px;
    font-size: 12px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .password-input {
    padding-left: 20px;
    font-size: 14px;
  }
}

.password-input::placeholder {
  color: #c4c4c4;
}

.login-btn {
  color: #fff;
  border-radius: 0px 0px 5px 5px;

  font-family: Helvetica;
  font-weight: 700;
  background: #000;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.forgot {
  color: #000;

  font-family: Helvetica;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin: 15px;
  cursor: pointer;
}
footer div {
  background: #000;
  padding: 0% 10%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 40%;
  color: #fff;
}

.title figure {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title img {
  width: 36px;
}

.title figcaption {
  font-size: 18px;
  margin-left: 5px;
}

.title p {
  font-size: 8px;
  color: #c4c4c4;
  font-family: Helvetica;
  font-weight: 700;
  margin-bottom: 5px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

button {
  text-decoration: none;
  border: none;
  background-color: inherit;
}

@media only screen and (max-width: 600px) {
  .left h1 {
    font-size: 80px;

    letter-spacing: -5px;
  }

  .right {
    padding: 50px 20px;
  }

  .blossom-logo {
    width: 40px;
  }

  .right figure figcaption {
    font-size: 28px;
  }
  .direct-login {
    margin-top: 10px;
    font-size: 13px;
  }

  .login-btns {
    margin: 7px 0px;
    gap: 2%;
  }

  .google,
  .facebook {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    font-weight: 700;
    padding: 10px;
    font-size: 13px;
  }

  .google-svg {
    width: 14px;
  }
  .facebook-svg {
    width: 10px;
  }

  .tab-btn {
    margin: 10px 0px 5px 0px;
    display: flex;
    gap: 2%;
  }

  .login {
    padding: 5px 20px;
    height: 38px;

    font-size: 14px;
  }

  .signup {
    padding: 5px 20px;
    height: 38px;
    font-size: 14px;
  }

  .email-input {
    padding-left: 20px;
    font-size: 12px;
  }

  .password-input {
    padding-left: 20px;
    font-size: 12px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .password-input {
    padding-left: 20px;
    font-size: 14px;
  }
}

/* Small devices (portrait tablets and large phones) */
